<header>

    <div class="nav">
         <div class="nav-header">
             <div class="iconn">
                     <a href="#"><p>Cv</p></a>
             </div>
         </div>
         <button class="nav-toggle">
             <i class="fas fa-bars"></i>
         </button>
         <div class="links">
             <ul>
                 <li><a href="#about">Home</a></li>
                 <li><a href="#about">About Me</a></li>
                 <li><a href="#Experience">Experiences</a></li>
                 <li><a href="#services">Services</a></li>
                 <li><a href="#skill">Skills</a></li>
                 <li><a href="#contuct me">Contact Me</a></li>
                 <li><a href="#project">My Projects</a></li>
             </ul>
         </div>

         <div class="togg">
             <input type="checkbox" class="checkbox" id="chk" />
             <label class="label" for="chk">
                 <i class="fas fa-moon"></i>
                 <i class="fas fa-sun"></i>
                 <div class="ball"></div>
             </label>
         </div>



       </div>
      
           
    
     
     </div>

 </header>
