    <!--home-->
    <section id="about">


        <div class="section">
            <div class="container">
                <div class="content-section">
                    <!--<div class="title">
					<h1>About Me</h1>
				</div>-->
                    <div class="content">

                        <h3>Hi Every one, I am Wafa Mohammed</h3>
                        <p>I am graphic designer & web developer,<br> I graduated this year from Taiz University </p>
                        <div class="button">
                            <button class="btn3"><span></span>Eail Me </button>
                        </div>
                    </div>

                    <div class="image-section">
                        <img src="xxx.jpg">
                    </div>
                </div>


            </div>
        </div>


    </section>