 <!--contact-->
 <section id="contuct me">

    <div class="contact">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Contact Me</h2>
                
                <form id="form" action="/">
                <div class="input-control">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text">
                    <div class="error"></div>
                </div>
                <div class="input-control">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text">
                    <div class="error"></div>
                </div>
                   <!--- <label for="username">Username</label>
                    <input  class="field" id="username" name="username" type="text">
                    <div class="error"></div>
                
               
                    <label for="email">Email</label>
                    <input class="field" id="email" name="email" type="text">
                    <div class="error"></div>-->
                </div>
               <!--- <input type="text" class="field" placeholder="Your Name">
                <input type="text" class="field" placeholder="Your Email">
                <input type="text" class="field" placeholder="Phone">
                <textarea placeholder="Message" class="field"></textarea>-->
                <button class="btn" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>

    <div class="footer__social">
        <a href="https://www.wattsapp.com/" target="_blank" class="home__social-link">
            <i class="ri-whatsapp-fill"></i>
        </a>
        <a href="https://www.behance.net/wafaalsabri" target="_blank" class="home__social-link">
            <i class="ri-behance-fill"></i>
        </a>
        <a href="www.linkedin.com/in/wafa-alsabri-6a1b71219" target="_blank" class="home__social-link">
            <i class="ri-linkedin-box-fill"></i>
        </a>
        <a href="wafaalsabri23@gmail.com" target="_blank" class="home__social-link">
            <i class="ri-mail-fill"></i>
        </a>
        <a href="https://github.com/WafaAlsabri" target="_blank" class="home__social-link">
            <i class="ri-github-fill"></i>
        </a>
    </div>
</section>