<section id="Experience">
    <div class="services">
        
        <h1 class="h">My Experince</h1>
        <div class="cen">
            <div class="service">
                <i class="ri-psychotherapy-line"></i>
                <h2>First Experience</h2>
                <p> The Ability to work collaboratively and strategically with a team and work under pressure</p>
            </div>

            <div class="service">
                <i class="ri-psychotherapy-line"></i>
                <h2>Second Experience</h2>
                <p> The ability to do secretarial work, office management, planning and implementation of projects.
                </p>
            </div>

            <div class="service">
                <i class="ri-psychotherapy-line"></i>
                <h2>Third Experience</h2>
                <p>Proficiency in programming in most programming language (Python-c#-c++-php-java-javascript).</p>
            </div>

            <div class="service">
                <i class="ri-psychotherapy-line"></i>
                <h2>Forth Experience</h2>
                <p>The ability to design and program Android Application</p>
            </div>
        </div>
    </div>

</section>
    <hr>

<section id="skill">

    <div class="services">
        <h1>My SKILLS</h1>
        <div class="cen">
            <div class="service">
                <i class="ri-award-line"></i>
                <h2>First SKILL</h2>
                <p> The ability to do professional design and all graphics work</p>
            </div>

            <div class="service">
                <i class="ri-award-line"></i>
                <h2>Second SKILL</h2>
                <p> The ability to do secretarial work, office management, planning and implementation of projects.
                </p>
            </div>

            <div class="service">
                <i class="ri-award-line"></i>
                <h2>Third Skill</h2>
                <p>Good at social and communication skills</p>
            </div>

            <div class="service">
                <i class="ri-award-line"></i>
                <h2>Forth skill</h2>
                <p>Ability to write and speak English</p>
            </div>
        </div>
    </div>

</section>