 <!--project-->
 <section id="project">
    <center>
        <h1 data-aos="flip-down" data-aos-duration="1000">My Projects </h1>
    </center>
    <div class="cards">
        <div class="card1" data-aos="flip-left" data-aos-delay="50" data-aos-duration="1000">

        </div>
        <div class="card2" data-aos="flip-right" data-aos-delay="50" data-aos-duration="1000">

        </div>
        <div class="card3" data-aos="fade" data-aos-delay="50" data-aos-duration="1000">

        </div>
        <div class="card4" data-aos="fade-down" data-aos-delay="50" data-aos-duration="1000">

        </div>
        <div class="card5" data-aos="zoom-in-up" data-aos-delay="50" data-aos-duration="1000">

        </div>
        <div class="card6" data-aos="slide-up" data-aos-delay="50" data-aos-duration="1000">

        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            once: false
        });
    </script>


    </section>