<!--servises-->

<section id="services">


    <div class="container2">

        <div class="box">
            <h1>01</h1>
            <h3>Servise provide one</h3>
            <br>
            <p>Graphics design in many adobe program like photoshop,indesign
                ,illustrator,aftereffect,primer,xd</p>

        </div>
        <div class="box">
            <h1>02</h1>
            <h3>Servise provide two</h3>
            <br>
            <p>programming in most programming language
                (Python-c#-c++-php-java-javascript).</p>

        </div>
        <div class="box">
            <h1>03</h1>
            <h3>Servise provide three</h3>
            <br>
            <p>Doing secretarial work and office management</p>

        </div>


    </div>


</section>